.scoreLabelsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scoreLabel {
  text-transform: capitalize;
}

.baseBar {
  width: 100%;
  background-color: #fff;
  border: 1px solid #000;
  height: 30px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.bar {
  height: 100%;
  transition: width 0.25s;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
}

.maxBar {
  background-color: #d2d2d2;
  z-index: 1;
}

.minBar {
  background-color: #000;
  z-index: 3;
}

.currentBar {
  background-color: #717171;
  z-index: 2;
}
